name = "blazecraft"
compatibility_date = "2024-12-01"
pages_build_output_dir = "."

[vars]
ENVIRONMENT = "production"
TIMEZONE = "America/Chicago"

[env.preview]
name = "blazecraft-preview"
[env.preview.vars]
ENVIRONMENT = "preview"
